body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  width: 800px;
  margin: 0 auto;
}

.image {
  width: 30px;
  height: 30px;
}
@media (max-width: 640px) {
  .image {
    width: 60px;
    height: 60px;
  }
}